*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
   width: 100%;
   margin:0px;
   padding:0px; 
}

/* style of h1 */
h1{
    font-size: 50px;
    font-family: "Baskerville Old Face";
    color: #FFCD01;
    text-decoration: none;
    padding: 50px;
}

/* style of h2 */
h2{
    font-size: 30px;
    font-family: "Baskerville Old Face";
    color: #FFCD01;
    text-decoration: none;
    padding: 20px;
}

/* style of the paragraphs */
p{
    font-size: 22.5px;
    font-family: Arial;
    color: #5660DC;
    text-decoration: none;
    line-height: 1.6;
    text-align: justify;
}

/********************** Style the side navigation ********************/
.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color:#7C83E4;
    overflow-x: hidden;
}

/* Show fulll bar on hover */
.sidebar:hover {
    z-index : 100;
}

/* Side bar top section */
.sidebar #Topo{
    height: 80px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Side bar top section image */
.sidebar #Topo a {
   margin-right: 30px;
   float: left;
}
.sidebar #Topo a img {
    width: 70px;
}

/* Side bar top section title */
.sidebar #Topo #title{
    text-align: left;
    margin-top: 20px;
    float: right;
    color: #FFCD01;
    font-size: 30px;
    font-family: "Baskerville Old Face";
    font-weight:bold;
    padding-top: 10px;
    height: 100%;
    width: 300px;
}

/* Side navigation link list */
.sidebar #lista{
    position: relative;
    background: #7C83E4;
    display: block;
    list-style: none;
}

/* Side navigation link list items */
#lista li {
    display: inline-block;
    orientation: landscape;
    background-color: #7C83E4;
    height: 70px;
    width: 100%;
}


/* Change color on hover */
#lista li:hover {
    background-color: #5660DC;
}

/* Side navigation links */
#lista a{
    text-decoration: none;
    color: #FFCD01;
    font-size: 20px;
    font-family: "Baskerville Old Face";
}

/* images in links */
#lista a img{
    float: left;
    width: 50px;
    margin: 10px;
    margin-right: 30px;
}

/********************** Página Inicial ********************/

/* Style the content division */
.pagina_inicial{
    display:block;
    width : calc(100% - 70px);
    max-height : max-content;
    min-height: calc(100%);
    position:absolute;
    background : #EBECFB;
    margin: 0px;
    padding: 0px;
    top : 0px;
    margin-left : 70px;
    margin-right: 0px;
}

/* style of the links */
.pagina_inicial a{
    text-decoration: none;
    font-size: 22.5px;
    font-family: Arial;
    color: #5660DC;
    text-decoration: none;
    font-weight: bold;
}

/* style of the top division */
.pagina_inicial #tophead{
    width: 100%;
    height: fit-content;
    position: relative;
    text-align: center;
    overflow-y: hidden;
}

/* style of the top division image */
#tophead img{
    width: 100%;
    max-height: 600px;
    min-height: 400px;
    object-fit:cover;
    filter: brightness(50%) contrast(50%);
}

/* style of the top division text */
#tophead .title{
    position: absolute;
    bottom: 80px;
    left: 100px;
    text-align: left;
}

/* style of the content text */ 
.pagina_inicial #texto{
    position: absolute;
    padding: 100px;
    padding-top: 60px;
    background : #EBECFB;
}

/********************** Página Sobre Mim ********************/

/* Style the content division */
.MePage {
    position: absolute;
    display:flex;
    flex-direction: column;
    background-image: url('../imagens/fundo_meu.jpeg');   
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width : calc(100% - 70px);
    max-height : max-content;
    min-height: calc(100%);
    margin: 0px;
    padding: 0px;
    top : 0px;
    margin-left : 70px;
}

/* Style the content division h1 */
.MePage h1{
    margin: 100px;
    margin-top: 150px;
}

/* Style the content division p */
.MePage p{
    display: inline-block;
    width: 40%;
    margin-left: 100px;
    color: white;
}

/* Style the content division table*/
.MePage table {
    margin: 100px;
    margin-bottom: 10px;
}

/* Style the content division table row*/
.MePage table tr{
    display: flex;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: center;
}

/* Style the content division table cell */
.MePage table td{
    padding: 5%;
    align-content: center;
}

/* Style the content division table cell image*/
.MePage table td img{
    width: 100px;
    position: relative;
}

.MePage table td img:hover{
    scale: 1.25;
}


/********************** Página Sobre Caminho ********************/

/* Style the content division */
.AboutCaminho {
    position: absolute;
    display:flex;
    flex-direction: column;
    background-size: cover;
    width : calc(100% - 70px);
    max-height : max-content;
    min-height: calc(100%);
    top : 0px;
    margin-left : 70px;
    background-color: #EBECFB;
}

/* Style the content division main image */
.AboutCaminho #main_img{
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    margin: 50px;
    margin-bottom: 0px;
    align-self: center;
}

/* Style the content division title*/
.AboutCaminho #title{
    text-align: center;
}

/* Style the information division inside content division */
.AboutCaminho #information{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
}

/* Style the information division images */
.AboutCaminho img{
    width: 40%;
    max-width: 400px;
    min-width: 50px;
    object-fit: cover;
    margin: 50px;
}

/********************** Página dos Caminhos Pedestres ********************/

/* Style the content division */
.pagina_caminhos{
    display:block;
    flex-direction: column;
    flex-wrap: wrap;
    width : calc(100% - 70px);
    min-height: calc(100%);
    position:absolute;
    background : #EBECFB;
    top : 0px;
    margin-left : 70px;
}

/* style the title and its background image */
.pagina_caminhos #title{
    position: relative;
    height: fit-content ;
    width: 100%;
    text-align: center;
    min-height: 200px;
}

/* style of the title image */
.pagina_caminhos #title img{
    width: 100%;
    max-height: 400px;
    min-height: 200px;
    object-fit:cover;
    overflow-x: hidden;
    overflow-y:hidden;
    filter: brightness(50%) contrast(50%);
}

/* style of the title text */
.pagina_caminhos #title h1{
    width: fit-content;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/* style of the table containing the different caminhos */
.pagina_caminhos table{
    width: calc(100% - 200px);
    table-layout: fixed;
}

/* style of the main table rows */
.pagina_caminhos table tr{
    align-self: center;
    display: block;
    position: relative;
    margin: 100px;
    width: 100%;
    height: fit-content;
    max-height: 600px;
    filter:opacity(50%); 
    box-shadow: 5px 5px gray;
    overflow-y: hidden;
}

/* style of the table cells */
.pagina_caminhos table tr td {
    width: calc(50%);
}

/* style of the table cells taht contain the image */
.pagina_caminhos table tr #image_cell img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* hover of the table cells */
.pagina_caminhos table tr:hover{
    filter:opacity(100%);
}

/* style of the table cells taht contain text */
.pagina_caminhos table tr #text_cell{
    position: relative;
    height: 100%;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

/* style of the button to view the caminho */
#text_cell .botao{
    display: inline-flex;
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    align-self: center;
    background-color:#FFCD01;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #7C83E4;
}

/* hover of the button */
#text_cell .botao:hover{
    background-color: #C8A200;
}

/********************** Página de um Caminnho ********************/

/* Style the content division */
.caminho{
    display:block;
    flex-direction: column;
    flex-wrap: wrap;
    width : calc(100% - 70px);
    min-height: calc(100%);
    position:absolute;
    background : #EBECFB;
    top : 0px;
    margin-left : 70px;
}

/* style the title division*/
.caminho #title{
    position: relative;
    height: fit-content ;
    width: 100%;
    text-align: center;
}

/* style of the title image */
.caminho #title img{
    width: 100%;
    max-height: 300px;
    min-height: 200px;
    vertical-align: center;
    object-fit:cover;
    overflow-x: hidden;
    overflow-y:hidden;
    filter: brightness(60%) contrast(123%);
}

/* style of the title text */
.caminho #title h1{
    width: fit-content;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/* Style the information division */
.caminho #information{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
}

/* Style the information division images */
.caminho #information img{
    width: 40%;
    display: inline;
    max-width: 400px;
    min-width: 50px;
    object-fit: cover;
    margin: 50px;
}

/* Style the information division links */
.caminho #information a{
    text-decoration: none;
    font-size: 22.5px;
    font-family: Arial;
    color: #5660DC;
    text-decoration: none;
    font-weight: bold;
}

/* style the images that appear in a line */
.caminho #information .image_line{
    display: flex;
    width: 100%;
    margin: 25px;
    min-height: 50px;
    max-height: 300px;
    overflow-y: hidden;
    padding: 0%;
    flex-wrap: nowrap;
    justify-content: center;
}

/* style the images that appear in a line */
.caminho #information .image_line #image_cont{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 50%;
    min-height: 300px;
    opacity: 50%;
    background-size: cover;
}

.caminho #information .image_line #image_cont img{
    left: 0%;
    margin: 0%;
    padding:0%;
    width: calc(100%);
    height: calc(100%);
    filter: contrast(80%) brightness(60%);
}

/* hove rof the images */
.caminho #information #image_cont:hover{
    opacity: 100%;
}

.caminho #information .image_line #image_cont #text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    text-decoration: none;
    
}

/********************** Página dos Restaurantes/Alojamentos ********************/

/* Style the content division */
.places {
    position: absolute;
    display:flex;
    flex-direction: column;
    background-size: cover;
    width : calc(100% - 70px);
    max-height : max-content;
    min-height: calc(100%);
    top : 0px;
    margin-left : 70px;
    padding:10%;
    padding-top: 100px;
    background-color: #EBECFB;
    text-align:center;
}

.places ul li{
    display: inline-block;
    align-self:center;
    list-style: none;
    width: fit-content;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.places ul li:hover{
    box-shadow: 2px 2px gray;
    scale: 1.25;
}

.places a{
    text-decoration: none;
    font-size: 22.5px;
    font-family: Arial;
    color: #5660DC;
    text-decoration: none;
    line-height: 1.6;
    text-align: justify;
}


/********************** Página das Dicas ********************/

/* Style the content division */
.dicas{
    display:block;
    flex-direction: column;
    flex-wrap: wrap;
    width : calc(100% - 70px);
    min-height: calc(100%);
    position:absolute;
    background : #EBECFB;
    top : 0px;
    margin-left : 70px;
}

/* style the title division*/
.dicas #title{
    position: relative;
    height: fit-content ;
    width: 100%;
    text-align: center;
}

/* style of the title image */
.dicas #title img{
    width: 100%;
    max-height: 300px;
    min-height: 200px;
    vertical-align: center;
    object-fit:cover;
    overflow-x: hidden;
    overflow-y:hidden;
    filter: brightness(60%) contrast(123%);
}

/* style of the title text */
.dicas #title h1{
    width: fit-content;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/* style the information division*/
.dicas #information{
    display: block;
    padding: 10%;
    padding-top: 100px;
}

/* style the unordered lists */
.dicas #information ul{
    margin-left: 20%;
    margin-right: 20%;
}

/* style the unordered lists items */
.dicas #information ul li{
    text-decoration: none;
    font-size: 22.5px;
    font-family: Arial;
    color: #5660DC;
    list-style:inside;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* style the images that appear in a line */
.dicas #information .image_line{
    display: flex;
    width: 100%;
    min-height: 50px;
    max-height: 300px;
    overflow-y: hidden;
    flex-wrap: nowrap;
    justify-content: center;
}

/* style the images that appear in a line */
.dicas #information .image_line #image_cont{
    position: relative;
    width: 50%;
    min-height: 300px;
    background-size: cover;
    opacity: 50%;
}

/* hove rof the images */
.dicas #information #image_cont:hover{
    opacity: 100%;
}

/* Style of he text in the images */
.dicas #information #image_cont #text{
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
}

/********************** Página dos Locais ********************/

/* Style the content division */
.local{
    display:block;
    width : calc(100% - 70px);
    max-height : max-content;
    min-height: calc(100%);
    position:absolute;
    background : #EBECFB;
    margin: 0px;
    padding: 0px;
    top : 0px;
    margin-left : 70px;
    margin-right: 0px;
}

/* style of the top division */
.local #topo{
    width: 100%;
    height: fit-content;
    max-height: 500px;
    position: relative;
    text-align: center;
    overflow-y: hidden;
}

/* style of the links */
.local #topo a{
    text-decoration: none;
    font-family: "Baskerville Old Face";
    text-decoration: none;
    color: #FFCD01;;
}

/* style of the top division image */
.local #topo img{
    width: 100%;
    max-height: 600px;
    min-height: 400px;
    object-fit:cover;
    filter: brightness(50%) contrast(50%);
}

/* style of the top division text */
.local #topo .title{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

/* style the information division*/
.local #information{
    display: block;
    padding: 15%;
    padding-top: 10px;
}

.local #information iframe{
    float: right;
    width: 50%;
    height: 400px;
    margin: 50px;
}

.local #information ul{
    margin-left: 50px;
}

.local #information ul li{
    text-decoration: none;
    font-size: 22.5px;
    font-family: Arial;
    color: #5660DC;
    list-style:inside;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* style the images that appear in a line */
.local #information .image_line{
    display: flex;
    width: 100%;
    min-height: 50px;
    height: fit-content;
    overflow-y: hidden;
    flex-wrap: nowrap;
    justify-content: center;
}

/* style the images that appear in a line */
.local #information .image_line #image_cont{
    position: relative;
    width: 50%;
    min-height: 300px;
    height: fit-content;
    background-size:cover;
    opacity: 50%;
}

/* hove rof the images */
.local #information #image_cont:hover{
    opacity: 100%;
}

.local #information .image_line #image_cont img{
    width: 100%;
    height: 100%;
}

